.reseñas-relevantes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.btn-opinion{
  border-radius: 0;
  background-color: black;
}

.container-review-personal{
  padding: 1rem;
}