<footer class=" text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Email: contacto&#64;gmail.com</p>
                <p>Teléfono: (123) 456-7890</p>
                <p>Dirección: Calle Ejemplo 123, Ciudad, País</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-light">Inicio</a></li>
                    <li><a href="productos.html" class="text-light">Productos</a></li>
                    <li><a href="categorias.html" class="text-light">Categorías</a></li>
                    <li><a href="contacto.html" class="text-light">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Redes Sociales</h5>
                <a href="https://www.facebook.com" target="_blank" class="text-light me-2"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="https://www.instagram.com" target="_blank" class="text-light me-2"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="https://www.twitter.com" target="_blank" class="text-light me-2"><i class="fab fa-twitter"></i> Twitter</a>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 Tu Vapeador. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
