<div class="navbar">
    <div class="logo"><a [routerLink]="['/']" routerLinkActive="router-link-active" ><img src="assets/img/logo-w.jpg" alt="Logo" width="100px"></a></div>

    <div class="search">        
        <input id="impt-search" type="text" *ngIf="showSearchInput">  
        <button><img src="assets/img/icons/search-interface-symbol.png" alt="carrito" width="25px" *ngIf="showSearchInput"></button>  
        <a (click)="toggleSearchInput()" [routerLink]="['/search']" routerLinkActive="router-link-active" *ngIf="HideSearchInput"><img src="assets/img/icons/search-interface-symbol.png" alt="carrito" width="25px"></a>
    </div>

    <div class="nav-links">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >Inicio</a>
        <a [routerLink]="['/tienda']" routerLinkActive="router-link-active" >Tienda</a>
        <a [routerLink]="['/opiniones']" routerLinkActive="router-link-active" >Opiniones</a>
        <a [routerLink]="['/sobre_nosotros']" routerLinkActive="router-link-active" >Sobre nosotros</a>
    </div>

    <div class="user-actions">
        <a [routerLink]="['/ingreso']" routerLinkActive="router-link-active" >Iniciar sesión</a>
        <a [routerLink]="['/registro']" routerLinkActive="router-link-active" >Registrarse</a>        
    </div>    

    <div class="shopping-cart">              
        <a [routerLink]="['/carrito']" routerLinkActive="router-link-active" ><img src="assets/img/icons/shopping-cart.png" alt="carrito" width="40px"></a>        
    </div>

</div>