.navbar {
    font-family: 'Arial', sans-serif;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    color: #343a40;
}

.navbar .nav-link {
    font-size: 1rem;
    padding: 10px 15px;
    color: #343a40;
}

.navbar .nav-link:hover {
    color: #fa9907;
    background-color: #f8f9fa;
}

.search-container input {
    border-radius: 30px;
    width: 200px;
    transition: all 0.3s ease-in-out;
}

.search-container input:focus {
    width: 250px;
}

.shopping-cart img {
    transition: transform 0.2s;
}

.shopping-cart img:hover {
    transform: scale(1.1);
}
