.reseñas-relevantes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.btn-opinion{
  border-radius: 0;
  background-color: black;
}

.container-review-personal{
  padding: 1rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.rating i {
  font-size: 1.5em;
  color: gold;
  cursor: pointer;
}

.rating i.fa-star-o {
  color: grey;
}

button {
  margin-top: 10px;
}
