<div class="main">

    <!-- PRODUCTO PRINCIPAL -->

    <div class="body-home container mx-auto my-4">
        <!-- Usamos *ngIf para asegurarnos de que los datos estén cargados -->
        <div *ngIf="section1Data.length > 0" class="featured position-relative overflow-hidden shadow-lg rounded bg-dark text-white">
          <div *ngFor="let item of section1Data">
            <!-- Imagen de fondo -->
            <img [src]="item.image" class="img-fluid w-100 h-auto" alt="Aerosoles Tropicales">
      
            <!-- Texto destacado sobre la imagen -->
            <div class="text position-absolute top-50 start-50 translate-middle text-center p-3">
              <h2 class="display-4 fw-bold">{{ item.highlightText }}</h2>
              <p class="lead">{{ item.leadText }}</p>
            </div>
      
            <!-- Botones -->
            <div class="buttons position-absolute bottom-0 w-100 d-flex mb-3">
              <button class="btn btn-compra btn-lg flex-fill">Comprar</button>
              <button class="btn btn-carrito btn-lg flex-fill">Añadir al carrito</button>
            </div>
          </div>
        </div>
      </div>

      <div id="novedadesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- Usamos *ngFor para recorrer section2Data y crear los items del carrusel -->
          <div *ngFor="let item of section2Data; let i = index" 
               [class.active]="i === 0" class="carousel-item">
            <div class="row">
              <!-- Creamos un contenedor de 4 productos por fila -->
              <div class="col-md-3 text-center" *ngFor="let product of section2Data.slice(i * 4, (i + 1) * 4)">
                <div class="product-card">
                  <!-- Imagen del producto -->
                  <!-- <img [src]="product.productIMG" class="img-fluid" alt="{{ product.productName }}"> -->
                  <img [src]="product.productIMG" class="img-fluid" alt="{{ product.productName }}">

                  <div class="product-info">
                    <h5 class="product-name">{{ product.productName }}</h5>
                    <p class="product-description">{{ product.productDescription }}</p>
                  </div>
                  <h5 class="product-price">Precio: {{ product.productPrice }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Controles del carrusel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#novedadesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#novedadesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
    
    
    <div class="account-suggestion text-center my-4" *ngIf="!isLoggedIn()">
        <h5>¿Ya tienes una cuenta?</h5>
        <p>Inicia sesión para disfrutar de todas nuestras funciones.</p>
        <a [routerLink]="['/ingreso']" routerLinkActive="router-link-active" class="btn btn-ligth ">Iniciar sesión</a>
    
        <h5 class="mt-3">¿No tienes una cuenta?</h5>
        <p>Regístrate ahora y comienza a disfrutar de nuestros productos.</p>
        <a [routerLink]="['/registro']" routerLinkActive="router-link-active" class="btn btn-ligth">Crear cuenta</a>
    </div>
    
    <div class="featured-banner my-4">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="product-card-f position-relative">
                    <img [src]="section2Data[0]?.productIMG" class="img-fluid" alt="Producto Destacado 1">
                    <div class="overlay">
                        <h5 class="product-name">{{ section2Data[0]?.productName }}</h5>
                        <p class="product-description">{{ section2Data[0]?.productDescription }}</p>
                        <h5 class="product-price">Precio: {{ section2Data[0]?.productPrice }}</h5>
                        <div class="buttons">
                            <button class="btn btn-dark">Comprar</button>
                            <button class="btn btn-dark">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="product-card-f position-relative">
                    <img [src]="section2Data[1]?.productIMG" class="img-fluid" alt="Producto Destacado 2">
                    <div class="overlay">
                        <h5 class="product-name">{{ section2Data[1]?.productName }}</h5>
                        <p class="product-description">{{ section2Data[1]?.productDescription }}</p>
                        <h5 class="product-price">Precio: {{ section2Data[1]?.productPrice }}</h5>
                        <div class="buttons">
                            <button class="btn btn-dark">Comprar</button>
                            <button class="btn btn-dark">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="categories-banner my-4">
        <h2 class="text-center">Categorías de Vapeadores</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="category-card">
                    <h5 class="category-name">Vapeadores Portátiles</h5>
                    <p class="category-description">Descubre nuestra variedad de vapeadores compactos y fáciles de llevar.</p>
                    <a href="categoria-portatiles.html" class="btn btn-dark no-radius">Ver Productos</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="category-card">
                    <h5 class="category-name">Vapeadores de Mesa</h5>
                    <p class="category-description">Conoce nuestros vapeadores de mesa para una experiencia más intensa.</p>
                    <a href="categoria-mesa.html" class="btn btn-dark no-radius">Ver Productos</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="category-card">                    
                    <h5 class="category-name">Vapeadores Desechables</h5>
                    <p class="category-description">Prueba nuestros vapeadores desechables, ideales para probar nuevos sabores.</p>
                    <a href="categoria-desechables.html" class="btn btn-dark no-radius">Ver Productos</a>
                </div>
            </div>
        </div>
    </div>

    <div class="brands-grid my-4">
        <h2 class="text-center">Marcas de Vapeadores</h2>
        <div class="row">
            <div class="col-md-2 col-4 text-center">
                <img src="assets/img/brands/vape.png" class="img-fluid" alt="Marca 1">
            </div>
            <div class="col-md-2 col-4 text-center">
                <img src="assets/img/brands/vape.png" class="img-fluid" alt="Marca 2">
            </div>
            <div class="col-md-2 col-4 text-center">
                <img src="assets/img/brands/vape.png" class="img-fluid" alt="Marca 3">
            </div>
            <div class="col-md-2 col-4 text-center">
                <img src="assets/img/brands/vape.png" class="img-fluid" alt="Marca 4">
            </div>
            <div class="col-md-2 col-4 text-center">
                <img src="assets/img/brands/vape.png" class="img-fluid" alt="Marca 5">
            </div>
            <div class="col-md-2 col-4 text-center">
                <img src="assets/img/brands/vape.png" class="img-fluid" alt="Marca 6">
            </div>
        </div>
    </div>

</div>